:root {
    --primary-color: #3498db;
    --background-color: #2ecc71;
    --board-color: #32757f;
    --text-color: #ffcff;
}

/* Tabulator.js background color Change this to your preferred color */

.tabulator .tabulator-header .tabulator-col {
    background-color: var(--primary-color);
}

.tabulator .tabulator-header {
    background-color: var(--primary-color);
}

#idBoardtable thead th {
    background-color: var(--board-color);
}

.bootstrap-table td {
    height: 30px; /* Adjust the height as needed */
    vertical-align: middle; /* Optional: Align content vertically */
}

#porTable thead th {
    background-color: var(--primary-color);
}