.giro-table {
    border-collapse: separate;
    border-spacing: 10px 15px;
}

th,
td {
    border-radius: 10px;
}

.talign {
    text-align: -moz-center;
    vertical-align: middle;
    text-align: -webkit-center;
}

.thh {
    height: 30px;
}

img {
    width: 100px;
    height: 70px;
    background-size: 100% 100%;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}

.modal-body {
    position: relative;
    padding: 0px;
}

.btn-close {
    position: absolute;
    right: -30px;
    top: 0;
}